//animation du h1 dans la zone hero
@keyframes zoomIn {
    0% {
      transform: translate(-50%, -50%) scale(0); 
    }
    50% {
      transform: translate(-50%, -50%) scale(1); 
    }
    100% {
      transform: translate(-50%, -50%) scale(1.9);
    }
  }

  //animation image
  @keyframes zoomImg {
    0% {
      transform: scale(0); 
    }
    50% {
      transform: scale(0.5); 
    }
    100% {
      transform: scale(1); 
    }
  }




.zone_hero {
    position: relative; // Fait de .zone_hero le conteneur de positionnement pour .img_hero et h1
  
    .img_hero {
      width: 100%; // l'image prend toute la largeur de .zone_hero
      height: auto; // Ajuste la hauteur automatiquement
    }
  
    h1 {
      position: absolute; // Positionne h1 par rapport à .zone_hero
      top: 50%; // Centre h1 verticalement
      left: 50%; // Centre h1 horizontalement
      transform: translate(-50%, -50%); // Ajuste la position de h1 pour qu'il soit parfaitement centré
      color: white;
      animation: zoomIn 3s linear forwards;
      


    }
  }

  //zone de présentation des projets

  h2{
    text-align: center;
    text-decoration: underline;
  }
  .projet-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

      .container-projet-accueil{
        display: flex;
        flex-direction: column;
        width: calc(50% - 10px); /* Moitié de la largeur de la page moins un espace entre les colonnes */
        margin-bottom: 20px; /* Espacement entre les lignes */
        overflow: hidden;
        //height: 600px;
        position: relative;
        align-items: center;
        align-content: start;
        box-sizing: border-box;
        
       
      // object-position: center;

          .image-container{
            height: 400px;
            box-sizing: border-box;
           
            img {
              max-height: 100%; 
              width: 100%; 
              object-fit: contain; 
              animation: zoomImg 3s linear forwards;
            }
          }
        &:hover {
            .overlay {
                opacity: 1;
            }
        }
    
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 2;
            background-color: rgba(0, 0, 0, 0.8);
            opacity: 0;
            transition: opacity 0.8s ease-in-out; 
            box-sizing: border-box;
          }

          .title-container{
          
              .photo_titre {
              max-width: 100%;
              bottom: 0px;
              color: black; 
              font-size: 20px;
              text-align: center;
              margin-top: 2%;
              margin-bottom: 2%;
            }
          }

      }
  }
  