/*animation logo-nom*/
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}



.nav_bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
   // padding-left: 7%;
   // padding-right: 7%;

    .burger_menu {
        display: none; // Le bouton est caché par défaut
        cursor: pointer;
        span {
            display: block;
            width: 25px;
            height: 3px;
            background-color: black;
            margin: 5px 0;
            transition: 0.3s;
        }
    }

    .close_icon {
        display: none; // La croix est cachée par défaut
        cursor: pointer;
        font-size: 30px; // Taille de la croix
        position: absolute; // Positionnement absolu pour placer la croix
        top: 20px; // Position verticale
        right: 20px; // Position horizontale
    }

.logo-container{
    display: flex;
    flex-direction: row;
    align-items: center;

    .logo_img{
        width:120px;
        height: 120px;
        animation: fadeIn 4s;
        border:solid transparent;
        border-radius: 10px;
    }

    .logo-nom{
        font-size: 30px;
        font-weight: 600;
        color: #226c3b;
       // text-align: start;
        padding-left: 2%;
        width: 200px;
        opacity: 0;
        animation: fadeIn 4s 1s forwards;
      

    }
}
    #navigation{

        ul{
            display: flex;
            flex-direction: row;
            list-style-type: none;
            text-transform: uppercase;
            
                li{
                    font-size: 16px;
                    padding-right: 40px;
                    text-align: center;
                        a{
                        color:#226c3b;
                        text-decoration: none;
                        cursor: pointer;
                        }
                }
        }
    }
}


// *******************Affichage mobile************************//


@media (max-width: 768px) {
 body{
    
 

    .nav_bar{
        padding-right: 2%;
        animation: fadeIn 2s;
            .burger_menu {
                display: block; // Affiche le bouton sur les petits écrans
               
            }

            #navigation {
                display: none; // Cache le menu de navigation
                position: absolute;
                flex-direction: column; // Pour afficher les éléments en colonne
                align-items: center; // Pour centrer les éléments
                justify-content: center;
                width: 100%; // Pour occuper toute la largeur
                background-color:#5ad27b;
                z-index: 100;
                top: 60px;
                left: 0;
                right: 0;
                bottom: 0;
                overflow-y: auto;
                animation: fadeIn 2s;
				
                
                ul {
                        display: flex;
                        flex-direction: column;
                        width: 100%; // Pour occuper toute la largeur
                    

                        li{
                            font-size: 44px;
                            text-align: center;
                            padding-bottom: 10%;
                                a{
                                color:#ffffff;
                                padding-bottom: 10%;
                                }
                            }
                    }
            }
            

            // Lorsque .is-active est ajouté à #navigation, le menu s'affiche
            #navigation.is-active {
                display: flex;
            }

            #navigation.is-active + .close_icon {
                display: block; // Affiche la croix lorsque le menu est actif
            }
    }
}
        
}