/*animation logo-nom*/
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}



.nav_bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
   // padding-left: 7%;
   // padding-right: 7%;

    .burger_menu {
        display: none; // Le bouton est caché par défaut
        cursor: pointer;
        span {
            display: block;
            width: 25px;
            height: 3px;
            background-color: black;
            margin: 5px 0;
            transition: 0.3s;
        }
    }

    .close_icon {
        display: none; // La croix est cachée par défaut
        cursor: pointer;
        font-size: 30px; // Taille de la croix
        position: absolute; // Positionnement absolu pour placer la croix
        top: 20px; // Position verticale
        right: 20px; // Position horizontale
    }

.logo-container{
    display: flex;
    flex-direction: row;
    align-items: center;

    .logo_img{
        width:160px;
        height: 160px;
        animation: fadeIn 4s;
    }

    .logo-nom{
        font-size: 30px;
        font-weight: 600;
        color: #226c3b;
       // text-align: start;
        padding-left: 2%;
        width: 200px;
        opacity: 0;
        animation: fadeIn 4s 1s forwards;
      

    }
}
    #navigation{

        ul{
            display: flex;
            flex-direction: row;
            list-style-type: none;
            text-transform: uppercase;
            
                li{
                    font-size: 16px;
                    padding-right: 40px;
                    text-align: center;
                        a{
                        color:#5ad27b;
                        text-decoration: none;
                        cursor: pointer;
                        }
                }
        }
}
}